@page "/nuevoBombero"

@inherits NuevoBomberoBase;

<div class="conteiner d-flex justify-content-center m-0 p-0">
    <EditForm Model="@bombero" OnValidSubmit="@HandleOnValidSubmit" class="col-sm-12 col-md-10 col-lg-8 p-0">
        <DataAnnotationsValidator/>

        <div class="card">
            <div class="card-header">
                <h3>Crear Nuevo Bombero</h3>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <label for="ID" class="form-label">ID </label>
                    <InputNumber id="ID" @bind-Value="bombero.id" class="form-control" placeholder="ID" />
                    <ValidationMessage For="@(() => bombero.id)" />
                </div>
                <div class="form-group">
                    <label for="nombre" class="form-label">Nombre </label>
                    <InputText id="Nombre" @bind-Value="bombero.nombre" class="form-control" placeholder="Nombre" />
                    <ValidationMessage For="@(() => bombero.nombre)" />
                </div>
                <div class="form-group">
                    <label for="Edad" class="form-label"> Edad </label>
                    <InputNumber id="Edad" @bind-Value="bombero.edad" class="form-control" placeholder="Edad" />
                    <ValidationMessage For="@(() => bombero.edad)" />
                </div>
                <div class="form-group">
                    <label for="Direccion" class="form-label"> Direccion </label>
                    <InputText id="Direccion" @bind-Value="bombero.direccion" class="form-control" placeholder="Direccion" />
                    <ValidationMessage For="@(() => bombero.direccion)" />
                </div>
                <div class="form-group">
                    <label for="Telefono" class="form-label"> Telefono </label>
                    <InputText id="Telefono" @bind-Value="bombero.telefono" class="form-control" placeholder="Telefono" />
                    <ValidationMessage For="@(() => bombero.telefono)" />
                </div>
                <div class="form-group">
                    <label for="Correo" class="form-label"> Correo </label>
                    <InputText id="Correo" @bind-Value="bombero.correo" class="form-control" placeholder="Correo" />
                    <ValidationMessage For="@(() => bombero.correo)" />
                </div>
                <div class="form-group">
                    <label for="Contraseña" class="form-label"> Contraseña </label>
                    <InputText id="Contraseña" @bind-Value="bombero.contraseña" class="form-control" placeholder="Contraseña" />
                    <ValidationMessage For="@(() => bombero.contraseña)" />
                </div>
                <div class="form-group">
                    <label for="Acceso" class="form-label"> Acceso </label>
                    <InputText id="Acceso" @bind-Value="bombero.acceso" class="form-control" placeholder="Acceso" />
                    <ValidationMessage For="@(() => bombero.acceso)" />
                </div>
                
                

                
                <div class="form-group">
                    <br/>
                    <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-plus pr-2" /> Crear</button>
                    <a href="/personas" class="btn btn-secondary btn-sm"><i class="fa fa-times pr-2" /> Cancelar</a>
                </div>
            </div>
        </div>
    </EditForm>
</div>
